<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card-container">
    <ion-card>
      <ion-list>
        <ion-item>
          <ion-select label="Regular style" placeholder="Pick one from list...">
            <ion-select-option value="apple">Apple</ion-select-option>
            <ion-select-option value="banana">Banana</ion-select-option>
            <ion-select-option value="orange">Orange</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-select label="Stacked style" label-placement="stacked">
            <ion-select-option value="apple">Apple</ion-select-option>
            <ion-select-option value="banana">Banana</ion-select-option>
            <ion-select-option value="orange">Orange</ion-select-option>
          </ion-select>
        </ion-item>
      
        <ion-item>
          <ion-select label="Floating style" label-placement="floating">
            <ion-select-option value="apple">Apple</ion-select-option>
            <ion-select-option value="banana">Banana</ion-select-option>
            <ion-select-option value="orange">Orange</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-card>
  </div>
</ion-content>